name: Publish UPM Package

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  upm-release-core:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: quabug/create-upm-release@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target: main
          upm_tag_prefix: overlook-core/v
          upm_package_path: Packages/com.fullmetalbagel.overlook-core
          create_unitypackage: true
  upm-release-ecs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: quabug/create-upm-release@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target: main
          upm_tag_prefix: overlook-ecs/v
          upm_package_path: Packages/com.fullmetalbagel.overlook-ecs
          create_unitypackage: true
  upm-release-pool:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v2
    - uses: quabug/create-upm-release@v3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        target: main
        upm_tag_prefix: overlook-pool/v
        upm_package_path: Packages/com.fullmetalbagel.overlook-pool
        create_unitypackage: true
  upm-release-analyzer:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - uses: quabug/create-upm-release@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target: main
          upm_tag_prefix: overlook-analyzer/v
          upm_package_path: Packages/com.fullmetalbagel.overlook-analyzer
          create_unitypackage: true

  upm-release-logging:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - uses: quabug/create-upm-release@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target: main
          upm_tag_prefix: overlook-logging/v
          upm_package_path: Packages/com.fullmetalbagel.overlook-logging
          create_unitypackage: true
